.panel-title{
  color: black;
  font-weight: bold;
}
.bottom-link{
  float: right;
}
.bottom-link a{
  color: mediumblue;
}
.img-left{
  float: left;
}





.welcome-left {
  text-align: center;
  float: left;
}

.welcome-right {
  float: right;
}

#welcome-bar {
  clear: both;
  display: block;
}